# 미션
- 01_Data.csv 사용

In [8]:
import pandas as pd
df1 = pd.read_csv('01_Data.csv')
df1

,Index,Member_ID,Sales_Type,Contract_Type,Channel,Datetime,Term,Payment_Type,Product_Type,Amount_Month,Customer_Type,Age,Address1,Address2,State,Overdue_count,Overdue_Type,Gender,Credit_Rank,Bank
0,1,66758234,렌탈,일반계약,영업방판,2022-05-05,60,CMS,DES-1,96900,개인,42.0,경기도,경기도,계약확정,0,없음,여자,9.0,새마을금고
1,2,66755948,렌탈,교체계약,영업방판,2023-02-19,60,카드이체,DES-1,102900,개인,39.0,경기도,경기도,계약확정,0,없음,남자,2.0,현대카드
2,3,66756657,렌탈,일반계약,홈쇼핑/방송,2022-02-27,60,CMS,DES-1,96900,개인,48.0,경기도,경기도,계약확정,0,없음,여자,8.0,우리은행
3,4,66423450,멤버십,멤버십3유형,재계약,2022-05-12,12,CMS,DES-1,66900,개인,39.0,경기도,경기도,계약확정,0,없음,남자,5.0,농협회원조합
4,5,66423204,멤버십,멤버십3유형,재계약,2022-05-09,12,CMS,DES-1,66900,개인,60.0,경기도,경기도,기간만료,12,있음,남자,8.0,농협회원조합
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51296,51298,66579515,렌탈,프로모션계약,대형마트A,2022-02-28,60,CMS,DES-3A,96900,개인,47.0,경기도,경기도,계약확정,0,없음,남자,NaN,기업은행
51297,51299,66799558,렌탈,일반계약,대형마트A,2022-03-31,60,CMS,DES-1,96900,개인,42.0,경기도,경기도,계약확정,0,없음,여자,8.0,새마을금고
51298,51300,66799197,렌탈,프로모션계약,영업방판,2022-03-31,39,카드이체,ERA,120900,개인,65.0,서울특별시,서울특별시,계약확정,0,없음,여자,1.0,롯데카드
51299,51301,66792778,렌탈,일반계약,홈쇼핑/방송,2023-02-05,60,카드이체,DES-1,96900,개인,54.0,서울특별시,서울특별시,계약확정,0,없음,여자,2.0,롯데카드
51300,51302,66799607,렌탈,일반계약,홈쇼핑/방송,2022-04-23,60,CMS,DES-1,96900,개인,53.0,서울특별시,서울특별시,계약확정,0,없음,여자,8.0,신한은행

## 1. 데이터에서 고객들의 유입경로(Channel)을 분석하고자 한다. 유입경로(Channel)중 가장 많은 고객이 유입된 경로를 확인하시오.

In [42]:
df1['Channel'].value_counts()
# print(df1['Channel'].max()) 하면 왜 홈쇼핑/인터넷이 나오는지?

Channel
영업방판       23767
홈쇼핑/방송     12977
대형마트A       4725
전문매장H       3227
재계약         2193
대형마트E       1497
전문매장Z       1206
전단홍보         560
홈쇼핑/인터넷      375
대형마트H        225
직영유통사        188
자체홈페이지       120
대형마트C        119
대형마트N         83
직영계열사A        20
직영계열사B        19
Name: count, dtype: int64

## 2. 가장 많이 유입된 경로(Channel)에 계약된 월랜탈비용(Amount_Month)의 평균을 계산하시오.

In [38]:
cond1 = (df1['Channel'] == '영업방판')
df2 = df1.loc[cond1]

mean_Amount_Month = df2['Amount_Month'].mean()
mean_Amount_Month

100322.79463121135

## 3. 유입경로(Channel)에서 '대형마트A'로 유입된 고객들 중, 연체건수(Overdue_count)가 높은 상위 30명의 계약 명단을 추출하여 result4.xlsx 저장하시오.

In [56]:
cond3 = (df1['Channel'] == '대형마트A')

df3 = df1.loc[cond3]

high_OC = df3.sort_values( by = ['Overdue_count'] , ascending = False).head(30).to_excel('result4.xlsx')

## 4. 유입 경로가 가장 많은 5개의 채널에 대해 데이터를 추출

In [62]:
df1['Channel'].value_counts().head(5)

Channel
영업방판      23767
홈쇼핑/방송    12977
대형마트A      4725
전문매장H      3227
재계약        2193
Name: count, dtype: int64

## 5. 데이터에서 고객들이 가장 많이 계약한 제품군(Product_Type)을 분석하고자 한다. 제품군(Product_Type)에는 어떤 데이터가 있는지 확인하시오.

In [70]:
df1['Product_Type'].value_counts()

Product_Type
DES-1     39133
DES-2      8996
DES-3A     2081
ERA         644
DES-R4      327
MMC         120
Name: count, dtype: int64

## 6. 제품군(Product_Type)중 계약을 가장 많이한, 빈도수가 가장 높은 상위 3개의 항목을 추출하여, df2로 선언한 뒤, 계약일자(Datetime)에 따른 월렌탈비용(Amount_Month)의 합을 계산해 result5.xlsx파일로 저장하시오.

In [132]:
# df1.pivot_table(index = 'Product_Type' , values = 'Amount_Month' , aggfunc = 'sum', columns = ['Year' , 'week'])
df2 = df1['Product_Type'].value_counts().head(3).index


cond1 = (df1['Product_Type'].isin(df2))
df6 = df1.loc[cond1]

sum_Amount_Month = df6['Amount_Month'].sum()
sum_Amount_Month

4679858076

## 7. 제품군(Product_Type)중 계약을 가장 많이한, 빈도수가 가장 높은 상위 2개의 항목의 월랜탈비용('Amount_Month')의 평균의 차이를 계산하시오.

In [170]:
df7 = df1['Product_Type'].value_counts().head(2).index
df7
#가장 높은 DES_1
cond1 = (df1['Product_Type'] == df7[0])
DES_1 = df1.loc[cond1]
DES_1_Mean_Amount_Month = DES_1['Amount_Month'].mean()
#가장 높은 DES_2
cond2 = (df1['Product_Type'] == df7[1])
DES_2 = df1.loc[cond2]
DES_2_Mean_Amount_Month = DES_2['Amount_Month'].mean()

print(DES_1_Mean_Amount_Month - DES_2_Mean_Amount_Month)

6868.154548431063
94424.54516648353 87556.39061805246

## 8. 데이터에서 고객들이 결제하는 은행(Bank)를 확인하고자 한다. 결제은행(Bank)항목에서 '신한카드'로 결제하는 고객들의 수를 확인하시오

In [205]:
df1['Bank'].unique()

cond1 = (df1['Bank'] == '신한카드')
shinhan = df1.loc[cond1]
shinhan_user = shinhan['Index'].info()
shinhan_user

<class 'pandas.core.series.Series'>
Index: 1532 entries, 89 to 51238
Series name: Index
Non-Null Count  Dtype
--------------  -----
1532 non-null   int64
dtypes: int64(1)
memory usage: 23.9 KB

## 9. 월랜탈비용(Amount_Month)이 15만원 이상인 고객들 중 판매유형(Sales_Type)이 '렌탈'에 해당하는 고객만 추출하여, 해당 데이터의 행(index) 개수를 확인하시오.

In [231]:
cond1 = (df1['Amount_Month'] >= 150000) 
cond2 = (df1['Sales_Type'] == '렌탈')
cond3 = cond1 & cond2


df9 = df1.loc[cond3]
df9['Index'].count()

<class 'pandas.core.series.Series'>
Index: 141 entries, 205 to 51187
Series name: Index
Non-Null Count  Dtype
--------------  -----
141 non-null    int64
dtypes: int64(1)
memory usage: 2.2 KB

## 10. 계약일자(Datetime)에서 계약연도(Year)파생변수를 생성하고, 연도 별, 각 제품군(Product_Type)의 월랜탈비용(Amount_Month) 합을 계산하시오.

## 11. 22년 대비 23년 제품군(Product_Type)별 월랜탈비용(Amount_Month) 합의 증감율을 계산하시오. 
- 증감율 : ( (22년 월랜탈비용 총합) - (23년 월랜탈비용 총합) ) / (22년 월랜탈비용 총합)

## 12. 판매 유형(Sales_Type)에서 '렌탈'계약과 '멤버십' 계약의 월랜탈비용(Amount_Month)의 평균의 차이를 계산하시오.

## 13. 계약 데이터를 주기적으로 정리하는 업무자동화 프로그램을 만들고자 한다. 데이터에서 주차(Work Week)를 입력 해, 해당 주차의 제품 군(Product_Type)별 월랜탈비용(Amount_Month)의 합과 평균을 엑셀로 출력하는 함수를 생성하시오. 
- 파일이 저장 될 때, 아래와 같은 이름으로 저장 되어야 합니다. 
- 1주차 입력시 -> '1week_Product_Contract.xlsx'
- 3주차 입력시 -> '3week_Product_Contract.xlsx'