## 복습

In [2]:
# 가설검정

In [8]:
import pandas as pd
df1 = pd.read_csv('01_Data.csv')
df1.head()

,Index,Member_ID,Sales_Type,Contract_Type,Channel,Datetime,Term,Payment_Type,Product_Type,Amount_Month,Customer_Type,Age,Address1,Address2,State,Overdue_count,Overdue_Type,Gender,Credit_Rank,Bank
0,1,66758234,렌탈,일반계약,영업방판,2022-05-05,60,CMS,DES-1,96900,개인,42.0,경기도,경기도,계약확정,0,없음,여자,9.0,새마을금고
1,2,66755948,렌탈,교체계약,영업방판,2023-02-19,60,카드이체,DES-1,102900,개인,39.0,경기도,경기도,계약확정,0,없음,남자,2.0,현대카드
2,3,66756657,렌탈,일반계약,홈쇼핑/방송,2022-02-27,60,CMS,DES-1,96900,개인,48.0,경기도,경기도,계약확정,0,없음,여자,8.0,우리은행
3,4,66423450,멤버십,멤버십3유형,재계약,2022-05-12,12,CMS,DES-1,66900,개인,39.0,경기도,경기도,계약확정,0,없음,남자,5.0,농협회원조합
4,5,66423204,멤버십,멤버십3유형,재계약,2022-05-09,12,CMS,DES-1,66900,개인,60.0,경기도,경기도,기간만료,12,있음,남자,8.0,농협회원조합

In [10]:
# 연체여부에 따른 월 렌탈비용에 차이가 있는가
df1['Overdue_Type'].unique() 
# 범주형

array(['없음', '있음'], dtype=object)

In [12]:
cond1 = (df1['Overdue_Type'] == '있음')

df_over = df1.loc[cond1]
df_norm = df1.loc[~cond1]

In [14]:
# 정규성 확인
import scipy.stats as stats
# 가설검정 lib

In [16]:
stats.normaltest(df_over['Amount_Month'])
# p-value < 0.05 => 정규성 따르지 않음

NormaltestResult(statistic=913.6886264858254, pvalue=3.935824000627175e-199)

In [18]:
stats.normaltest(df_norm['Amount_Month'])
# 정규분포에서 멀다 => 5175.115077383451

NormaltestResult(statistic=5175.1150773834515, pvalue=0.0)

In [20]:
# 둘 중 하나라도 정규분포를 따르지 않을경우 => 순위합 검정
# 독립인지 대응인지에 따라 다를수도

In [22]:
# 순위합 검정
stats.ranksums(df_over['Amount_Month'] , df_norm['Amount_Month'])

RanksumsResult(statistic=13.151893506752453, pvalue=1.659655618882019e-39)

In [24]:
# 귀무가설 : 두 집단의 유의미한 차이가 없을것이다
# 대립가설 : 두 집단에 유의미한 차이가 있을것이다

# p-value가 0에 가까이 나옴 => 대립가설 채택

In [32]:
# 다변수 검정

In [30]:
# 채널별 월렌탈비용의 차이
df1['Channel'].value_counts()

Channel
영업방판       23767
홈쇼핑/방송     12977
대형마트A       4725
전문매장H       3227
재계약         2193
대형마트E       1497
전문매장Z       1206
전단홍보         560
홈쇼핑/인터넷      375
대형마트H        225
직영유통사        188
자체홈페이지       120
대형마트C        119
대형마트N         83
직영계열사A        20
직영계열사B        19
Name: count, dtype: int64

In [36]:
top3_list = df1['Channel'].value_counts().head(3).index
top3_list

Index(['영업방판', '홈쇼핑/방송', '대형마트A'], dtype='object', name='Channel')

In [38]:
cond1 = df1['Channel'] == top3_list[0]
cond2 = df1['Channel'] == top3_list[1]
cond3 = df1['Channel'] == top3_list[2]

# 각각 영업방판/ 홈쇼핑,방송 / 대형마트A

In [42]:
print(stats.normaltest(df1.loc[cond1]['Amount_Month']))
print(stats.normaltest(df1.loc[cond2]['Amount_Month']))
print(stats.normaltest(df1.loc[cond3]['Amount_Month']))

# 다 정규분포를 따르지 않음

NormaltestResult(statistic=13426.784616830582, pvalue=0.0)
NormaltestResult(statistic=721.5700572037006, pvalue=2.0561411505237054e-157)
NormaltestResult(statistic=1450.8543571263506, pvalue=0.0)

In [48]:
# 세 집단의 차이를 확인

stats.kruskal(df1.loc[cond1]['Amount_Month'] ,df1.loc[cond2]['Amount_Month'], df1.loc[cond3]['Amount_Month'])

KruskalResult(statistic=8746.944998588246, pvalue=0.0)

In [50]:
# 귀무가설 : 세 집단은 통계적으로 차이가 없다
# 대립가설 : 세 지단은 통계적으로 차이가 있다

# p-value = 0 => 대립가설 채택

In [ ]:
# kruskaltest => 어느 짇단이 서로 다른지 알려주지는 못한다. 그래서 후속비교를 한번 더 해야함