# 다변수 검정
- 정규분포를 따르는 연속형 자료의 집단 간 비교

In [28]:
import pandas as pd
import scipy.stats as stats
df1 = pd.read_csv('08_Data.csv')
df1.head()

,Unnamed: 0,Code_Num,Datetime,Process_Type,ST,Tube Furnace CP,Tube Furnace1 OP,Tube Furnace1 Temp,Tube Furnace2 OP,Tube Furnace2 Temp,Tube Furnace3 OP,Tube Furnace3 Temp,Tube Furnace4 OP,Tube Furnace4 Temp,Z1-OP1,Z1-OP2,Z1-Temp
0,0,GroupA,2022-01-03 11:22,OP-A,NaN,0.450497,73.527404,NaN,59.989422,868.759544,52.249481,NaN,72.134908,NaN,74.255730,76.879748,NaN
1,1,GroupA,2022-01-03 11:22,OP-A,NaN,0.457370,79.149174,878.116929,62.027232,883.821264,50.617109,890.740760,71.245235,894.430606,66.323571,71.297720,NaN
2,2,GroupA,2022-01-03 11:22,OP-A,68.724636,0.454914,78.946336,866.441979,62.235532,882.850031,52.218350,864.373065,72.705558,893.530501,72.909936,71.579322,99.614201
3,3,GroupA,2022-01-03 11:22,OP-A,69.161116,0.456540,78.445719,876.350472,61.608260,906.208463,52.863552,891.107865,73.975640,896.347636,68.754355,73.537496,99.376221
4,4,GroupA,2022-01-03 11:22,OP-C,69.181098,0.460100,76.673808,903.587677,61.589311,867.215131,52.297196,893.206883,71.887865,871.594283,69.692302,72.461153,99.809053

## 정규분포를 따르는 두 집단의 평균비교
- 각 Code_Num (공장배치그룹) 별 Z1-OP1(공정 건조온도 출력량) 평균의 차이가 있는가

In [31]:
df1['Code_Num'].value_counts()

Code_Num
GroupD    31729
GroupC    26982
GroupB    13299
GroupF     7473
GroupA     7342
GroupE     6218
Name: count, dtype: int64

In [33]:
cond1 = (df1['Code_Num'] == df1['Code_Num'].value_counts().head(2).index[0])
cond2 = (df1['Code_Num'] == df1['Code_Num'].value_counts().head(2).index[1])

In [35]:
t1 = df1.loc[cond1] # GroupD
t2 = df1.loc[cond2] # GroupC

In [37]:
stats.normaltest(t1['Z1-OP1']) # 정규분포를 따름

NormaltestResult(statistic=0.45941327604808013, pvalue=0.7947667226435516)

In [43]:
stats.normaltest(t2['Z1-OP1']) # 정규분포를 따름

NormaltestResult(statistic=2.8668515001589796, pvalue=0.23849051231867696)

In [47]:
# 두 집단 모두 정규분폴르 따르므로 등분산 검정을 수행한다

# 등분산 검정
stats.bartlett(t1['Z1-OP1'] , t2['Z1-OP1'])

# 귀무가설 : 두 집단의 분산은 같다고 볼 수 있다.
# 대립가설 : 두 집단의 분산은 다르다고 볼 수 있다.

BartlettResult(statistic=0.15980353542672476, pvalue=0.6893374613172697)

In [49]:
# p-value > 0.05 => 귀무가설 채택

In [51]:
# 따라서 t-test를 수행

In [57]:
stats.ttest_ind(t1['Z1-OP1'], t2['Z1-OP1'], equal_var = True )
# 등분산인 경우 eqal_val = True
# 등분산인 아닌경우 eqal_val = False

TtestResult(statistic=-0.08592110963765062, pvalue=0.9315294234984884, df=58709.0)

In [59]:
# 귀무가설을 채택 p-value > 0.05
# 따라서 Group D / C 의 건조온도출력량은 통계적으로 유의미한 차이가 없다

In [61]:
# Code_Num : A / E /F
cond1 = (df1['Code_Num'] == 'GroupA')
cond2 = (df1['Code_Num'] == 'GroupE')
cond3 = (df1['Code_Num'] == 'GroupF')

t1 = df1.loc[cond1] # GroupA
t2 = df1.loc[cond2] # GroupE
t3 = df1.loc[cond3] # GroupF

In [128]:
# Z1_OP1
# 각 그룹의 정규성 확인
print(stats.normaltest(t1['Z1-OP1']))
print(stats.normaltest(t2['Z1-OP1']))
print(stats.normaltest(t3['Z1-OP1']))

print('')

NormaltestResult(statistic=3.671411795679153, pvalue=0.1595008706997435)
NormaltestResult(statistic=3.1395858023119314, pvalue=0.20808827273562336)
NormaltestResult(statistic=0.37943212967748347, pvalue=0.8271939700559496)

In [65]:
# 등분산 검정
stats.bartlett(t1['Z1-OP1'] , t2['Z1-OP1'] , t3['Z1-OP1'])

BartlettResult(statistic=0.18947012176777617, pvalue=0.9096138948482111)

In [67]:
# 귀무가설 : 집단 간 분산이 같다
# p-value > 0.05
# 따라서 귀무가설 채택
# 결론 : A/E/F 그룹의 Z1-OP1의 분산은 통계적으로 같다

In [69]:
# 세 집단 모두 등분산 
# 세 집단이 통계적으로 유의미하게 다른가?
stats.f_oneway(t1['Z1-OP1'] , t2['Z1-OP1'],t2['Z1-OP1'])

# p-value > 0.05

F_onewayResult(statistic=2.778701379940653, pvalue=0.06214337886623043)

In [71]:
# 결론 : A/E/F 그룹의 건조온도출력량에는 차이가 없다.

In [73]:
# X Y의 상관성을 확인
# X 연속형 / Y 연속형인 경우 상관성 확인
# 두 개의 공정건조온도출력량은 서로 상관성이 있는가?

In [78]:
import plotly.express as px

In [122]:
# px.scatter(df1, x = 'Z1-OP1' , y = 'Z1-OP2' , trendline = 'ols')

In [82]:
# 가설검정
stats.normaltest(t1['Z1-OP1'])

NormaltestResult(statistic=3.671411795679153, pvalue=0.1595008706997435)

In [84]:
stats.normaltest(t1['Z1-OP2'])

NormaltestResult(statistic=1.6611632984801585, pvalue=0.43579573233240065)

In [88]:
# 두 집단 모두 정규분포를 따름
# 두 집단 모두 정규분포를 따를경우
# pearson test 수행

stats.pearsonr(df1['Z1-OP1'] , df1['Z1-OP2'])

PearsonRResult(statistic=-0.00242340319097993, pvalue=0.4597851757502812)

In [90]:
# 귀무가설 : 상관성이 없다
# 대립가설 : 상관성이 있다

In [92]:
# 상관성 확인 2
# Tube_Furnace CP : 가스 침탄량
# ST : 세정기 온도값

stats.normaltest(df1['Tube Furnace CP'])
# 정규분포를 따르지 않음

NormaltestResult(statistic=46072.55461165357, pvalue=0.0)

In [94]:
stats.normaltest(df1['ST'])
# nan은 결측값이 있다.

NormaltestResult(statistic=nan, pvalue=nan)

In [100]:
df1['ST'].isnull().sum()

15

In [102]:
df1_clean = df1.dropna()

In [104]:
# 결측값 제거후 가설검정
stats.normaltest(df1_clean['Tube Furnace CP'])

NormaltestResult(statistic=45980.21679557492, pvalue=0.0)

In [108]:
stats.normaltest(df1_clean['ST'])
# 정규화 따르지 않음

NormaltestResult(statistic=3427.6390518307962, pvalue=0.0)

In [124]:
# px.scatter(df1_clean, x = 'Tube Furnace CP' , y ='ST' , trendline = 'ols')
# 시각적으로 봤을땐 상관성이 있어보인다 => 기울기가 있으니까

In [114]:
# 두 집단이 정규분포를 따르지 안흥ㄹ 경우의 상관성
# spearman
stats.spearmanr(df1_clean['Tube Furnace CP'] , df1_clean['ST'])
# 상관성 -0.008 , p-value < 0.05

SignificanceResult(statistic=-0.0083096008162668, pvalue=0.011341012934082387)

In [116]:
# 두 연속형 자료는 상관성이 있음

# 두 집단 비교 과정
1. 정규성 검증 (normaltest)
2. p-value > 0.05 => 정규분포 O (귀무가설 채택)
3. p-value < 0.05 => 정규분포 X (대립가설 채택)
4. 두 집단 모두 정규분포 pearson
5. 두 집단 모두 정규분포가 아닐경우 Spearman
6. 상관성을 보고싶을때 (자료가 연속형/연속형 일경우) Spearman
7. 두 자료간의 유의미한 관계가 있는지 보고싶을경우 Ranksum