In [41]:
import pandas as pd
import numpy as np

In [43]:
HHO = pd.read_csv("C:/Users/campus4D037/iM DiGital Bank/ML2-0819/datas/COMP/한화오션.csv")
HHO.head()

         Date  Open  High   Low  Close   Volume    Change
0  2001-02-02  1553  1787  1553   1787  9723154       NaN
1  2001-02-05  1860  1864  1562   1776  7686628 -0.006156
2  2001-02-06  2042  2042  1869   1994  7714656  0.122748
3  2001-02-07  1975  1975  1802   1807  3855729 -0.093781
4  2001-02-08  1687  1812  1687   1719  4004511 -0.048700

In [47]:
HHO['Date'] = pd.to_datetime(HHO['Date'])

In [49]:
HHO['Year'] = HHO['Date'].dt.year

In [51]:
train_HHO = HHO[HHO['Year'] != 2024]
train_HHO['Year'].value_counts()

Year
2009    253
2010    251
2004    249
2005    249
2015    248
2021    248
2011    248
2012    248
2008    248
2020    248
2013    247
2006    247
2003    247
2019    246
2007    246
2022    246
2016    246
2023    245
2014    245
2018    244
2002    244
2017    243
2001    226
Name: count, dtype: int64

In [53]:
test_HHO = HHO[HHO['Year'] == 2024]
test_HHO['Year'].value_counts()

Year
2024    155
Name: count, dtype: int64