In [10]:
data

            Date   Open   High    Low  Close   Volume    Change
0     2014-05-19  14690  15000  13325  14227  3260633       NaN
1     2014-05-20  14123  15051  13737  14871   994959  0.045266
2     2014-05-21  14922  15025  14304  14382   394793 -0.032883
3     2014-05-22  14381  14613  14304  14459   242042  0.005354
4     2014-05-23  14536  15283  14304  15026   371638  0.039214
...          ...    ...    ...    ...    ...      ...       ...
2517  2024-08-09   3600   3600   3510   3595    65395  0.002789
2518  2024-08-12   3595   3595   3535   3545    64577 -0.013908
2519  2024-08-13   3545   3580   3500   3525    35695 -0.005642
2520  2024-08-14   3535   3555   3500   3550    28614  0.007092
2521  2024-08-16   3570   3580   3480   3490   102731 -0.016901

[2522 rows x 7 columns]

In [11]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.datasets import fetch_california_housing
import pandas as pd

# 데이터 로드
data=pd.read_csv("C:/Users/campus4D037/iM DiGital Bank/ML2-0819/datas/krx/stocks/BGF.csv")
# data = fetch_california_housing()
X = data[['Open','High','Low','Volume']]
y = data['Close']

# 데이터 분할
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# 랜덤 포레스트 모델 학습
model = RandomForestRegressor(random_state=42)
model.fit(X_train, y_train)

# 변수 중요도 확인
importances = model.feature_importances_
feature_importances = pd.DataFrame({'feature': X.columns, 'importance': importances})
feature_importances = feature_importances.sort_values(by='importance', ascending=False)

print(feature_importances)

  feature  importance
1    High    0.365508
2     Low    0.313859
0    Open    0.310965
3  Volume    0.009668

In [13]:
import pandas as pd
import numpy as np
from statsmodels.stats.outliers_influence import variance_inflation_factor
from statsmodels.tools.tools import add_constant

# 데이터 로드
X = data[['Open','High','Low','Volume']]

# 상수항 추가
X = add_constant(X)

# VIF 계산
vif = pd.DataFrame()
vif["feature"] = X.columns
vif["VIF"] = [variance_inflation_factor(X.values, i) for i in range(X.shape[1])]

print(vif)

  feature          VIF
0   const     2.080414
1    Open  2330.835041
2    High  2153.321579
3     Low  1266.872653
4  Volume     1.028121