In [1]:
import pandas as pd
import numpy as np

In [2]:
HHO = pd.read_csv("C:/Users/campus4D037/iM DiGital Bank/ML2-0819/datas/COMP/한화오션.csv")
HHO.head()

         Date  Open  High   Low  Close   Volume    Change
0  2001-02-02  1553  1787  1553   1787  9723154       NaN
1  2001-02-05  1860  1864  1562   1776  7686628 -0.006156
2  2001-02-06  2042  2042  1869   1994  7714656  0.122748
3  2001-02-07  1975  1975  1802   1807  3855729 -0.093781
4  2001-02-08  1687  1812  1687   1719  4004511 -0.048700

In [3]:
HHO.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5817 entries, 0 to 5816
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    5817 non-null   object
 1   Open    5817 non-null   int64
 2   High    5817 non-null   int64
 3   Low     5817 non-null   int64
 4   Close   5817 non-null   int64
 5   Volume  5817 non-null   int64
 6   Change  5816 non-null   float64
dtypes: float64(1), int64(5), object(1)
memory usage: 318.2+ KB

In [4]:
HHO['Date'] = pd.to_datetime(HHO['Date'])

In [5]:
HHO['Year'] = HHO['Date'].dt.year

In [6]:
HHO.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5817 entries, 0 to 5816
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    5817 non-null   datetime64[ns]
 1   Open    5817 non-null   int64
 2   High    5817 non-null   int64
 3   Low     5817 non-null   int64
 4   Close   5817 non-null   int64
 5   Volume  5817 non-null   int64
 6   Change  5816 non-null   float64
 7   Year    5817 non-null   int32
dtypes: datetime64[ns](1), float64(1), int32(1), int64(5)
memory usage: 341.0 KB

In [7]:
HHO['Year'].value_counts()

Year
2009    253
2010    251
2004    249
2005    249
2012    248
2011    248
2021    248
2020    248
2015    248
2008    248
2013    247
2006    247
2003    247
2007    246
2016    246
2019    246
2022    246
2023    245
2014    245
2002    244
2018    244
2017    243
2001    226
2024    155
Name: count, dtype: int64

In [8]:
train_HHO = HHO[HHO['Year'] != 2024]
train_HHO['Year'].value_counts()

Year
2009    253
2010    251
2004    249
2005    249
2015    248
2021    248
2011    248
2012    248
2008    248
2020    248
2013    247
2006    247
2003    247
2019    246
2007    246
2022    246
2016    246
2023    245
2014    245
2018    244
2002    244
2017    243
2001    226
Name: count, dtype: int64

In [9]:
test_HHO = HHO[HHO['Year'] == 2024]
test_HHO['Year'].value_counts()

In [11]:
train_HHO.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5662 entries, 0 to 5661
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    5662 non-null   datetime64[ns]
 1   Open    5662 non-null   int64
 2   High    5662 non-null   int64
 3   Low     5662 non-null   int64
 4   Close   5662 non-null   int64
 5   Volume  5662 non-null   int64
 6   Change  5661 non-null   float64
 7   Year    5662 non-null   int32
dtypes: datetime64[ns](1), float64(1), int32(1), int64(5)
memory usage: 376.0 KB

In [12]:
test_HHO.info()

<class 'pandas.core.frame.DataFrame'>
Index: 155 entries, 5662 to 5816
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    155 non-null    datetime64[ns]
 1   Open    155 non-null    int64
 2   High    155 non-null    int64
 3   Low     155 non-null    int64
 4   Close   155 non-null    int64
 5   Volume  155 non-null    int64
 6   Change  155 non-null    float64
 7   Year    155 non-null    int32
dtypes: datetime64[ns](1), float64(1), int32(1), int64(5)
memory usage: 10.3 KB

           Date   Open   High    Low  Close   Volume    Change  Year
0    2001-02-02   1553   1787   1553   1787  9723154       NaN  2001
1    2001-02-05   1860   1864   1562   1776  7686628 -0.006156  2001
2    2001-02-06   2042   2042   1869   1994  7714656  0.122748  2001
3    2001-02-07   1975   1975   1802   1807  3855729 -0.093781  2001
4    2001-02-08   1687   1812   1687   1719  4004511 -0.048700  2001
...         ...    ...    ...    ...    ...      ...       ...   ...
5657 2023-12-21  25100  25150  24100  24500  1676641 -0.039216  2023
5658 2023-12-22  24650  24850  24400  24550   795156  0.002041  2023
5659 2023-12-26  25100  25100  24300  24600   793350  0.002037  2023
5660 2023-12-27  24700  24950  24300  24950   680279  0.014228  2023
5661 2023-12-28  24950  25400  24700  25100   834015  0.006012  2023

[5662 rows x 8 columns]

In [74]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error,r2_score
# from sklearn.metrics import mean_squared_error, r2_score
# 예시 데이터셋 (X: 특성, y: 타겟 값)

X_train = train_HHO[['Open','High','Low','Volume']]
X_test = test_HHO[['Open','High','Low','Volume']]
y_train = train_HHO['Close']
y_test = test_HHO['Close']
# y = HHO['Close']
# 데이터셋을 학습용과 테스트용으로 분리
# X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

from sklearn.preprocessing import StandardScaler, RobustScaler
scaler = RobustScaler()

X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

# RandomForestRegressor 모델 생성
rf = RandomForestRegressor(n_estimators=200, random_state=0)

# 모델 학습
rf.fit(X_train, y_train)

# 테스트 데이터에 대한 예측
y_pred = rf.predict(X_test)

# 성능 평가 (MSE - Mean Squared Error)
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)
print(f'Mean Squared Error: {mse}')
print(f'R² (결정계수): {r2}')

Mean Squared Error: 236941.61870548388
R² (결정계수): 0.9841064839625443

In [76]:
X_train.shape

(5662, 4)

In [78]:
X_test.shape

(155, 4)

In [80]:
y_train.shape

(5662,)

In [82]:
y_test.shape

(155,)