# Pandas
- panel + dataset
- series -> numpy array를 기반으로 만든 정형데이터 분석을 위해 구성된 index - value형식의 자료구조

In [2]:
import pandas as pd

In [18]:
s1 = pd.Series([1,2,3,4])
s1

0    1
1    2
2    3
3    4
dtype: int64

In [14]:
s2 = pd.Series(['a','b','c',4])
s2
# obj는 문자형 
#series는 하나의 datatype만 올 수 있다

0    a
1    b
2    c
3    4
dtype: object

In [20]:
s2.index #0 부터 4까지 1칸씩

RangeIndex(start=0, stop=4, step=1)

In [22]:
s2.values

array(['a', 'b', 'c', 4], dtype=object)

In [28]:
type(s2) #데이터 타입을 자주 확인하는 것이 좋다

pandas.core.series.Series

In [32]:
type(s1.values) #numpy lib array를 기반

numpy.ndarray

In [34]:
# series indexing slicing
s2[0]

'a'

In [36]:
s2[0:2] #[n:m] n부터 m-1까지

0    a
1    b
dtype: object

In [40]:
# 값 대체
s1[0] = 99
s1

0    99
1     2
2     3
3     4
dtype: int64

In [54]:
# 값 삭제
s1.drop([1])

2    3
3    4
dtype: int64

In [56]:
s1 #원본 변수 변동 없음

1    2
2    3
3    4
dtype: int64

In [52]:
s1.drop(0, inplace = True) #원본변수에 수정
s1

1    2
2    3
3    4
dtype: int64

In [66]:
# index 이름 지정
s4 = pd.Series([1,2,3,4,5], index = ['a','b','c','d','e'])
s4

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [68]:
s4.index

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [70]:
s4[4]

C:\Users\campus4D037\AppData\Local\Temp\ipykernel_22000\3490946278.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  s4[4]

5

In [72]:
s4['c'] #인덱싱의 이름으로 indexing

3

In [78]:
# dictionary 로 series구성
s5 = pd.Series({'name' : '둘리', 'age': 34, 'area': '서울'})
s5

name    둘리
age     34
area    서울
dtype: object

In [84]:
s6 = s5.rename(index = {'name' : '이름'})
s6

이름      둘리
age     34
area    서울
dtype: object

In [102]:
s5.rename(index = {'name' : '이름'}, inplace = True)
print(s5)
print(s6)

이름       둘리
age      34
area     서울
친구      희동이
dtype: object
이름      둘리
age     34
area    서울
dtype: object

In [92]:
#새로운 값(인덱스)추가
s5['친구'] = '희동이'
s5

name     둘리
age      34
area     서울
친구      희동이
dtype: object