# 미션
- Day6_Data.zip 내, 3개의 데이터 파일을 불러와 아래의 분석을 실시하시오.

## 1. 3개 데이터를 불러와 아래와 같이 변환 하시오. 
- 기간은 파일 상단에 적힌 기간월을 작성 
- Column 명 '합계'는 앞에 공백이 존재 ' 합계'

In [339]:
import pandas as pd
import os

df1 = pd.read_excel('기간별상품매출현황_202306.xlsx',skiprows = 2 )
pd.options.display.float_format = '{:.1f}'.format
# pd.concat([df1])

df2=df1.melt( id_vars = ['순번', '상품코드' , '상품명' , ' 합계'])
df3 = df2.rename ( columns = {'variable' : '지점' ,'value' : '판매량'})

df_6.reset_index(drop = True, inplace = True)

df_6.head()

,순번,상품코드,상품명,합계,지점,판매량
0,1.0,1801828.0,자연숨결 식약처 허가 초미세먼지 마스크 대형 60매(KF94),65402,(1154)의정부점,174
1,2.0,1801859.0,블루방역황사마스크 65매 KF94,1,(1154)의정부점,0
2,3.0,40786179.0,클린위즈 매직클리너 얼룩제거 세트,2158,(1154)의정부점,4
3,4.0,41001356.0,트루마리 순수휴지 30미터 90롤,3649,(1154)의정부점,14
4,5.0,88005324.0,자연숨결 식약처 허가 초미세먼지 마스크 대형30매 + 중형 30매(KF94),1,(1154)의정부점,0

In [351]:
file_name = '기간별상품매출현황_202306.xlsx'
file_number = file_name[15]

df_6['기간'] = f'{file_number}월'
df_6.head()

,순번,상품코드,상품명,합계,지점,판매량,기간
0,1.0,1801828.0,자연숨결 식약처 허가 초미세먼지 마스크 대형 60매(KF94),65402,(1154)의정부점,174,6월
1,2.0,1801859.0,블루방역황사마스크 65매 KF94,1,(1154)의정부점,0,6월
2,3.0,40786179.0,클린위즈 매직클리너 얼룩제거 세트,2158,(1154)의정부점,4,6월
3,4.0,41001356.0,트루마리 순수휴지 30미터 90롤,3649,(1154)의정부점,14,6월
4,5.0,88005324.0,자연숨결 식약처 허가 초미세먼지 마스크 대형30매 + 중형 30매(KF94),1,(1154)의정부점,0,6월

In [353]:
df1 = pd.read_excel('기간별상품매출현황_202307.xlsx',skiprows = 2 ).reset_index(drop = True)
pd.options.display.float_format = '{:.1f}'.format
# pd.concat([df1])

df2=df1.melt( id_vars = ['순번', '상품코드' , '상품명' , ' 합계'])
df3 = df2.rename ( columns = {'variable' : '지점' ,'value' : '판매량'})

df_7 = df3.drop([0,1])
df_7.reset_index(drop = True, inplace = True)
df_7.head()

,순번,상품코드,상품명,합계,지점,판매량
0,1.0,1801828.0,자연숨결 식약처 허가 초미세먼지 마스크 대형 60매(KF94),111624,(1154)의정부점,440
1,2.0,40786179.0,블루방역황사마스크 65매 KF94,11460,(1154)의정부점,34
2,3.0,41001356.0,클린위즈 매직클리너 얼룩제거 세트,5709,(1154)의정부점,25
3,4.0,88005324.0,트루마리 순수휴지 30미터 90롤,1,(1154)의정부점,0
4,5.0,18200004735.0,자연숨결 식약처 허가 초미세먼지 마스크 대형30매 + 중형 30매(KF94),21489,(1154)의정부점,173

In [355]:
file_name = '기간별상품매출현황_202307.xlsx'
file_number = file_name[15]

df_7['기간'] = f'{file_number}월'
df_7.head()

,순번,상품코드,상품명,합계,지점,판매량,기간
0,1.0,1801828.0,자연숨결 식약처 허가 초미세먼지 마스크 대형 60매(KF94),111624,(1154)의정부점,440,7월
1,2.0,40786179.0,블루방역황사마스크 65매 KF94,11460,(1154)의정부점,34,7월
2,3.0,41001356.0,클린위즈 매직클리너 얼룩제거 세트,5709,(1154)의정부점,25,7월
3,4.0,88005324.0,트루마리 순수휴지 30미터 90롤,1,(1154)의정부점,0,7월
4,5.0,18200004735.0,자연숨결 식약처 허가 초미세먼지 마스크 대형30매 + 중형 30매(KF94),21489,(1154)의정부점,173,7월

In [367]:
df1 = pd.read_excel('기간별상품매출현황_202308.xlsx',skiprows = 2 ).reset_index(drop = True)
pd.options.display.float_format = '{:.1f}'.format
# pd.concat([df1])

df2=df1.melt( id_vars = ['순번', '상품코드' , '상품명' , ' 합계'])
df3 = df2.rename ( columns = {'variable' : '지점' ,'value' : '판매량'})

df_8.reset_index(drop = True, inplace = True)
df_8.head()

,순번,상품코드,상품명,합계,지점,판매량,기간
0,1.0,1801828.0,자연숨결 식약처 허가 초미세먼지 마스크 대형 60매(KF94),90488,(1154)의정부점,420,8월
1,2.0,40786179.0,블루방역황사마스크 65매 KF94,4122,(1154)의정부점,17,8월
2,3.0,41001356.0,클린위즈 매직클리너 얼룩제거 세트,8718,(1154)의정부점,43,8월
3,4.0,88005324.0,트루마리 순수휴지 30미터 90롤,24,(1154)의정부점,0,8월
4,5.0,18200004735.0,자연숨결 식약처 허가 초미세먼지 마스크 대형30매 + 중형 30매(KF94),17383,(1154)의정부점,97,8월

In [365]:
file_name = '기간별상품매출현황_202308.xlsx'
file_number = file_name[15]

df_8['기간'] = f'{file_number}월'
df_8.head()

,순번,상품코드,상품명,합계,지점,판매량,기간
0,1.0,1801828.0,자연숨결 식약처 허가 초미세먼지 마스크 대형 60매(KF94),90488,(1154)의정부점,420,8월
1,2.0,40786179.0,블루방역황사마스크 65매 KF94,4122,(1154)의정부점,17,8월
2,3.0,41001356.0,클린위즈 매직클리너 얼룩제거 세트,8718,(1154)의정부점,43,8월
3,4.0,88005324.0,트루마리 순수휴지 30미터 90롤,24,(1154)의정부점,0,8월
4,5.0,18200004735.0,자연숨결 식약처 허가 초미세먼지 마스크 대형30매 + 중형 30매(KF94),17383,(1154)의정부점,97,8월

## 2. '지점' 중 '판매량'의 합이 가장 높은 2개 지점을 확인하시오.

In [282]:
# 수량을 어떻게 빼지
# df_6['판매량'] = df_6['판매량'].astype(int)

df_6['판매량'].value_counts()

# df_6.pivot_table(index = '지점' , values = '판매량' , aggfunc = 'sum')

판매량
0        60318
수량         641
1          236
2          220
3          188
         ...
974          1
168          1
8,687        1
304          1
2,347        1
Name: count, Length: 1682, dtype: int64

## 3. 앞서 확인한, 2개의 지점의 '판매량'에 대해 각각 정규성 검정을 수행하고, 결론을 작성하시오.

## 4. 앞서 확인한, 2개의 지점의 '판매량'의 대표값(중앙값)의 차이를 계산하고자 한다. 가설을 수립하고, Rank Sum Test를 이용해 가설검정을 수행하시오 .

## 5. 앞서 확인한, 2개의 지점의 '판매량'의 Histogram을 Plotly라이브러리로 시각화 하시오.

## 6. '기간'별 가장 '판매량'의 '합'이 높은 '지점'을 확인하고, 특정 '기간' (월)을 입력했을 때, 해당 월의 '지점' 별 '판매량'의 합을 result_{월}.xlsx로 저장하는 함수를 생성하시오.

In [369]:
df_6.pivot_table(index = '기간' , values = '판매량' , columns = '지점' , aggfunc = 'sum')

TypeError: can only concatenate str (not "int") to str

## 7. '상품명'에 '마스크'와'휴지' 제품을 나누어 분석하고자 한다. 상품명을 '휴지'와 '마스크'로 분류한 뒤, (나머지는 '기타') '상품분류'라는 파생변수를 만들어, 두 상품의 '판매량'의 대표값의 차이를 가설 검정 하시오. 
    - 가설 수립 및 결론도 작성하셔야 합니다.