# 미션 1
- 아래의 미션을 Jupyter Notebook으로 푼 후 [File] - [Download as] - [HTML] 저장 제출
- birdland1903@gmail.com
- 제출양식 : Day1_Mission_반복문_홍길동
- 처음 풀이 시, 30분 정도 구글링이나 Chat GPT 없이 풀이

## 1. for 반복문으로 특정 리스트 내의 모든 숫자 합을 계산하는 함수를 구성하시오

- 숙련자 : input 함수를 이용하고, 함수로 구성

In [9]:
# def sum_list(list):
#     total = 0
#     for i in list:
#         total += i
#     return total

# list = [1,2,3,4,5]
# print(sum_list(list))
#

list1 = [ x for x in range(0,101)]

result1 = 0

for i in list1:
    resutl1 = result1 + i

print(result1)

0

In [11]:
# 숙련자ver

# input2 = int(input('숫자입력, 띄어쓰기로 구분'))
input_number = input('숫자입력, 띄어쓰기로 구분')
input_list = input_number.split(' ')
input_list

숫자입력, 띄어쓰기로 구분 100 20 30

['100', '20', '30']

In [15]:
[int(x) for x in input_list]

[100, 20, 30]

In [19]:
input_number = input('숫자입력, 띄어쓰기로 구분')
list1 = input_number.split(' ')
list2 = [int(x) for x in list1]

result1 = 0
for i in list2:
    result1 = result1 + i

print(result1)

숫자입력, 띄어쓰기로 구분 100 20 30

150

## 2. for 반복문으로 특정 리스트 안에 있는 모든 숫자의 평균을 계산하는 함수를 구성하시오
- 숙련자 : input 함수를 이용하고 함수로 구성

In [27]:
# 내 풀이
# def funcave(list):
#     total = 0
#     for i in list:
#         total = total + i
#         avg = total/len(list)
#     return avg

# list = [10,2,9]
# print(funcave(list))

list1 = [x for x in range(1,6)]
         
sum(list1) / len(list1)

3.0

In [29]:
#숙련자

input_number = input('숫자입력')
list1 = input_number.split(' ')
list2 = [int(x) for x in list1]

print(sum(list2)/len(list2))

숫자입력 5 3 1

3.0

## 3. 성적처리 함수를 만들고자 한다.
- 학생이 입력한 값의 평균을 계산해서 90점 이상이면 A / 80점 이상이면 B / 70점 이상이면 C / 나머지는 D 를 출력하는 함수를 구성
    - 입력값 (input) / 5개의 숫자 값을 입력 / 띄어쓰기로 구분하여 입력
    - 입력값에 학생이름도 포함
        - ex) 홍길동 100 90 54 90 34
    - 출력 : 홍길동 학생의 평균은 00 입니다. 학점은 00입니다.

In [31]:
# def cal_stu(input_data):
#     data = input_data.split(' ')
#     student_name = input_data[0]   
#     scores = list(map(int, data[1:]))
    
    
#     avg = sum(scores)/len(scores)


# def score(student_name, avg):
#     if avg >= 90:
#         score = 'A'
#     elif avg >= 80:
#         score = 'B'
#     elif avg >= 70:
#         score = 'C'
#     else: 
#         score = 'D'
# f'{name} 학생의 평균은 {avg} 입니다. 학점은 {score}입니다.'

# cal_stu('홍길동', 1, 2, 5, 5, 4)

# input_data = "홍길동, 1, 2, 5, 5, 4"
# cal_stu(input_data)

In [33]:
def cal_stu(input_data):
    data = input_data.split(' ')
    student_name = input_data[0]   
    scores = list(map(int, data[1:]))
    
    
    avg = sum(scores)/len(scores)
    if avg >= 90:
        return f'{student_name}의 성적은 {avg}이고, "A"입니다'

In [15]:
cal_stu('홍 100 90')

'홍의 성적은 95.0이고, "A"입니다'

In [37]:
input_data = input('이름과 성적5개 입력')
input_data

이름과 성적5개 입력 asd 1 1 1 1 1

'asd 1 1 1 1 1'

In [41]:
list1 = input_data.split(' ')
list1

['asd', '1', '1', '1', '1', '1']

In [45]:
name = list1[0]
scores = list1[1:] #1번 인덱스 부터 끝까지

scores

['1', '1', '1', '1', '1']

In [47]:
scores_2 = [int(x) for x in scores]
scores_2

[1, 1, 1, 1, 1]

In [51]:
input_data = input('이름, 성적입력')
list1 = input_data.split(' ')
name = list1[0]
scores = [int(x)  for  x in list1[1:]]
avg = sum(scores)/len(scores)

if avg >= 90:
    print(f'{name}학생의 성적은 {avg}이고, A입니다')
elif avg >= 80:
    print(f'{name}학생의 성적은 {avg}이고, B입니다')
elif avg >= 70:
    print(f'{name}학생의 성적은 {avg}이고, C입니다')
else:
    print(f'{name}학생의 성적은 {avg}이고, D입니다')

이름, 성적입력 asdf 100 100 100 100 100

asdf학생의 성적은 100.0이고, A입니다

## 4. 윤년 / 평년을 판별하는 함수를 구성
- 윤년 : 4의 배수에 해당하는 연도 AND 100으로 나눠지지 않는 연도 OR 400으로 나눠지는 연도
- 평년 : 위 조건에 해당하지 않는 경우

- 숙련자 : if문 없이 생성 : Dictionary로 구성

In [61]:
# 4의 배수 = year % 4 == 0
# 100으로 나눠지지 않는다 = year % 100 == 0
# 400으로 나눠진다 = year % 400 != 0

year = int(input('년도를 입력하세요'))

# if year % 4 == 0:
#     year = '윤년'
# elif year % 100 != 0:
#     year = '윤년'
# elif year // 400 == 0:
#     year = '윤년'
# else:
#     year = '평년'

if year = ((year % 4 = 0) & ( year % 100 != 0)) | (year & 400 = 0):
print('윤년입니다')
else :
print('평년')

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (327470142.py, line 16)

In [63]:
input_year = int(input('연도 입력'))
dict1 = (True : '윤년' , False : '평년')
cond1 = ((input_year % 4 == 0) & (input_year % 100 != 0)) | (year & 400 = 0):
dict(cond1)

SyntaxError: invalid syntax (2915864619.py, line 2)